.body {
  margin: 0;
  padding: 0;
}
.card {
  font-family: sans-serif;
  /* height: 100vh; */
  background-color: #d0a2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
img {
  border: 2px solid #f1eaff;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 14px;
}

.title {
  color: #25316d;
  font-weight: bold;
}
p {
  color: #3c5b6f;
}

.info {
  margin-left: 20px;
  line-height: 11px;
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
  }

  .title {
    margin-right: 5px;
  }
  img {
    border: 2px solid white;
    border-radius: 50%;
  }
  .image {
    background-color: #d0a2f7;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    /* border-radius: inherit; */
  }
}
